 <!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8">
     <title>Quiz</title>
     <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
   <body>
     <h2>Quiz: el juego de las preguntas</h2>
 
     <form method="get" action="/quizes/<%= quiz.id %>/answer">
       Pregunta: <%= quiz.pregunta %> <p>
       <input type="text" name="respuesta" value="Respuesta"/>
       <input type="submit" value="Enviar">
     </form>
 
     <p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

     <%for(index in quiz.Comments){%>
          <%if(quiz.Comments[index].publicado){%>
              <p>- <%=quiz.Comments[index].texto%></p>
          <%} else if(session.user && (session.user.isAdmin || (session.user && quiz.UserId === session.user.id))){%>
              <p>- <%=quiz.Comments[index].texto%>
              <a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish"><button>Publicar</button></a></p>
          <%}%>
      <%}%>
   </body>
 </html>