<h3>Pagina de Estadísticas</h3>

<p>Preguntas: <%= quizes %></p>
<p>Comentarios publicados: <%= comments %></p>
<p>Número medio de comentarios por pregunta: <%= avg %></p>
<p>Preguntas sin comentarios: <%= no_comments %></p>
<p>Preguntas con comentarios:<%= with_comments %></p> 